<%- include('../partials/header') %>

    <main>
        <h1>➕ Nuovo Argomento</h1>

        <form action="/health" method="POST">
            <div>
                <label for="title">Titolo:</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div>
                <label for="description">Descrizione:</label>
                <textarea id="description" name="description" required></textarea>
            </div>

            <button type="submit">Salva</button>
        </form>

        <a href="/health">⬅️ Torna alla lista</a>
    </main>

    <%- include('../partials/footer') %>